<nav id="blocLeft">
  <ul *ngIf="this.authService.currentUser.currentGroupRank > 0">

    <li [ngClass]="{'focus': this.groupsComponent.articles === true }">
      <a routerLink="/groups/{{groupId}}">Article</a>
    </li>

    <li [ngClass]="{'focus': this.groupsComponent.invite === true }">
      <a routerLink="/groups/{{groupId}}/invite">Inviter dans le groupe</a>
    </li>

    <li [ngClass]="{'focus': this.groupsComponent.apply === true }">
      <a routerLink="/groups/{{groupId}}/apply">Candidatures</a>
    </li>

    <li [ngClass]="{'focus': this.groupsComponent.members === true }">
      <a routerLink="/groups/{{groupId}}/members">Membres</a>
    </li>

    <li id="leave"><a (click)="this.groupsComponent.onLeave()">Quitter le groupe</a></li>

  </ul>
  <div *ngIf="this.groupsService.error !== ''">{{this.groupsService.error}}</div>
  <div *ngIf="this.groupsService.success !== ''">{{this.groupsService.success}}</div>

  <ul *ngIf="this.authService.currentUser.currentGroupRank == 0">

    <li *ngIf="this.groupsService.groups.security === 'public'">
      <a (click)="this.groupsComponent.onJoin()">Rejoindre le groupe</a>
    </li>

    <li *ngIf="this.groupsService.groups.security === 'privé'">
      <a (click)="this.groupsComponent.onApply()">Demande d'adhésion</a>
    </li>
  </ul>
</nav>
