<input type="checkbox" id="burgerMenu">

<nav id="blocLeft">
  <ul *ngIf="this.authService.currentUser.currentGroupRank > 0">

    <li [ngClass]="{'focus': this.groupsComponent.articles === true }"
      routerLink="/groups/{{groupId}}">
      Article
    </li>

    <li [ngClass]="{'focus': this.groupsComponent.invite === true}"
      routerLink="/groups/{{groupId}}/invite">
      Inviter
    </li>

    <li *ngIf="this.authService.currentUser.currentGroupRank === 1 ||
              this.authService.currentUser.currentGroupRank === 2"
        [ngClass]="{'focus': this.groupsComponent.apply === true }"
      routerLink="/groups/{{groupId}}/apply">
      Candidatures
    </li>

    <li [ngClass]="{'focus': this.groupsComponent.members === true }"
      routerLink="/groups/{{groupId}}/members">
      Membres
    </li>

    <li id="leave" (click)="this.groupsComponent.onLeave()">
      Quitter
    </li>

  </ul>

  <ul *ngIf="this.authService.currentUser.currentGroupRank == 0">

    <li *ngIf="this.groupsService.groups.security === 'public'"
      (click)="this.groupsComponent.onJoin()">
      Rejoindre
    </li>

    <li *ngIf="this.groupsService.groups.security === 'privé'"
      (click)="this.groupsComponent.onApply()">
      Postuler
    </li>
  </ul>
</nav>
