ul li {
  margin-top: 3%;
}
#leave {
  margin-top: 6%;
  color: red;
}
#burgerMenu {
  display: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  color: black;
  cursor: pointer;
  font-family: 'Material Icons';
  font-size: 30px;
  outline: 0;
  margin: 0;
  padding: 0;
  padding-left: 4%;
  width: 50px;
}
#burgerMenu:before
{
  content: 'menu';
}
#burgerMenu:checked:before
{
  content: 'close';
}
@media (max-width: 961px) {
  nav {
    display: none;
  }
  #burgerMenu {
    display: flex;
  }
  nav ul {
    width: 40%;
  }
  li {
    font-size: 18px;
  }
  #burgerMenu:checked ~ nav {
    display: flex;
  }
}
