<main>
  <h1>Rejoint nous</h1>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <label> Pseudo (*) : </label>
    <input type="text" formControlName="pseudo">

    <label> Email (*) : </label>
    <input type="text" formControlName="email">

    <label> Mot de passe (*) : </label>
    <input type="password" formControlName="password">

    <label> Vérification du mot de passe (*) : </label>
    <input type="password" formControlName="checkedPassword">

    <button type="submit" [disabled]="signupForm.invalid">Nous rejoindre</button>
  </form>

  <div id="errorRegister" *ngIf="this.authService.error !== ''">{{this.authService.error}}</div>
  <div id="successRegister" *ngIf="this.authService.success !== ''">{{this.authService.success}}</div>
</main>
