<main>
  <h1>Rejoint nous</h1>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <label> Pseudo (*) : </label>
    <input type="text" formControlName="pseudo">

    <label> Mot de passe (*) : </label>
    <input type="password" formControlName="password">

    <label> Vérification du mot de passe (*) : </label>
    <input type="password" formControlName="checkedPassword">
    <!--    <div>-->
    <!--      Email : <input type="text" formControlName="email">-->
    <!--    </div>-->

    <button type="submit" [disabled]="signupForm.invalid">Nous rejoindre</button>
  </form>

  <div id="error" *ngIf="this.authService.error !== ''">{{this.authService.error}}</div>
</main>
