<app-menu></app-menu>

<main>
  <h2>Liste des membres du groupe</h2>

  <div class="error" *ngIf="this.groupsService.error !== '' && this.groupsService.success === ''">
    {{this.groupsService.error}}
  </div>

  <div class="success" *ngIf="this.groupsService.success !== '' && this.groupsService.error === ''">
    {{this.groupsService.success}}
  </div>

  <div class="publication" *ngFor="let member of this.members; let i = index" >
    <div>{{member.username}}</div>
    <button *ngIf="!member.display &&
                 this.authService.currentUser.currentGroupRank === 1"
            (click)="member.display = true;initForm(member.id)">Modifier le rang</button>

    <form *ngIf="member.display"
          [formGroup]="userRankForm"
          (ngSubmit)="member.display = false;onSubmit()">

      <label for="rankId">Choisir un nouveau rang !</label>

      <select formControlName="rankId" id="rankId">
        <option value="3">Utilisateur</option>
        <option value="2">Modérateur</option>
        <option value="1">Administrateur</option>
      </select>

      <input type="hidden" formControlName="userId">

      <button [disabled]="userRankForm.invalid">Modifier le rang</button>

    </form>
  </div>
</main>
