main {
  width: 70%;
  align-items: center;
}
h2 {
  margin-top: 5%;
}
.publication {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  width: 30%;
  margin-top: 2%;
  padding: 10px;
  border: black 2px solid;
  border-radius: 6px;
}
@media (max-width: 961px) {
  .publication {
    width: 70%;
  }
}
