<app-menu></app-menu>

<main>
  <h2>Inviter de nouveaux membres</h2>

  <form [formGroup]="inviteForm" (ngSubmit)="onSubmit()">
    <label> Pseudo (*) : </label>
    <input type="text" formControlName="pseudo">

    <button type="submit" [disabled]="inviteForm.invalid">Inviter</button>
  </form>

  <div class="error" *ngIf="this.groupsService.error !== '' && this.groupsService.success === ''">
    {{this.groupsService.error}}
  </div>

  <div class="success" *ngIf="this.groupsService.success !== '' && this.groupsService.error === ''">
    {{this.groupsService.success}}
  </div>
</main>
