<div class="publication" *ngFor="let article of this.articlesService.articles; let i = index">
  <div>{{article.author}}</div>
  <div>{{this.articlesService.convertTimestamp(article.date)}}</div>
  <br>

  <div>{{article.content}}</div>

  <button *ngIf="!article.edit" (click)="article.edit = true; onUpdateForm(article.content, article.id)">Modifier contenu</button>

<!--  le article.edit = false permet lors de la soumission  de faire disparaître le formulaire -->
  <form *ngIf="article.edit" [formGroup]="editForm" (ngSubmit)="article.edit = false; onEditSubmit()">
    <input type="text" formControlName="content">
    <input type="hidden" formControlName="id">
    <button type="submit" [disabled]="editForm.invalid">Modifier contenu</button>
  </form>
  <button *ngIf="this.authService.currentUser.currentGroupRank == 1" (dblclick)="onRemoveArticle(article.id)">Supprimer</button>
<!--  <form *ngIf="this.authService.currentUser.currentGroupRank === 1" [formGroup]="deleteForm" (ngSubmit)="onSubmit()">-->
<!--    <button type="submit" [disabled]="editForm.invalid">Supprimer</button>-->
<!--  </form>-->

  <button>Voir les commentaires</button>

  <app-commentary [articleId]="article.id"></app-commentary>

  <app-new-commentary [articleId]="article.id"></app-new-commentary>
</div>
