<main>
  <h1>Créer votre groupe</h1>
  <form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
    <label>Nom du groupe (*) : </label>
    <input type="text" formControlName="name">

    <label>Description du groupe (*) : </label>
    <textarea formControlName="descriptionGroup" cols="30" rows="10"></textarea>

    <label>Confidentalité du groupe (*) : </label>
    <select formControlName="security">
      <option [ngValue]="'public'" selected>
        Public
      </option>
      <option [ngValue]="'private'">
        Privé
      </option>
    </select>

    <label>Visibilité du groupe (*) : </label>
    <select formControlName="visibility">
      <option [ngValue]="'visible'" selected>
        Visible
      </option>
      <option [ngValue]="'invisible'">
        Invisible
      </option>
    </select>
    <input type="hidden" formControlName="id">

    <button type="submit" [disabled]="groupForm.invalid">Créer</button>
  </form>

  <div class="error" *ngIf="this.groupsService.error !== ''">{{this.groupsService.error}}</div>
</main>
