<div id="pageCreateGroup">
  <h1>Créer votre groupe</h1>
  <form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
    <label>Nom du groupe (*) </label>
    <input type="text" formControlName="name">

    <label>Description du groupe (*) </label>
    <input type="text" formControlName="descriptionGroup">

    <label>Confidentalité du groupe</label>
    <select formControlName="security">
      <option [ngValue]="'public'" selected>
        Public
        <!--                Tous le monde peut rejoindre-->
      </option>
      <option [ngValue]="'private'">
        Privé
        <!--                Seul ceux qui ont postulé ou été invité peuvent rejoindre-->
      </option>
    </select>

    <label>Visibilité du groupe </label>
    <select formControlName="visibility">
      <option [ngValue]="'visible'" selected>
        Visible
        <!--                Apparait dans la liste des groupes-->
      </option>
      <option [ngValue]="'invisible'">
        Invisible
        <!--                N'apparait pas dans la liste des groupe-->
      </option>
    </select>
    <input type="hidden" formControlName="id">

    <button type="submit" [disabled]="groupForm.invalid">Créer</button>
  </form>
  <div *ngIf="error !== ''">{{error}}</div>
</div>
