<app-menu></app-menu>

<main>
  <div class="name">
    <h2>{{this.groupsService.groups.name}}</h2>

    <button *ngIf="this.authService.currentUser.currentGroupRank === 1 &&
                   !this.editName"
            (click)="onUpdateNameGroupForm(this.groupsService.groups.name)">
      Modifier le nom du groupe
    </button>

    <form *ngIf="this.editName" [formGroup]="updateNameGroupForm" (ngSubmit)="onUpdateNameGroup()">
      <input type="text" formControlName="name">

      <button (click)="onUpdateNameGroup()" [disabled]="updateNameGroupForm.invalid">Modifier le nom du groupe</button>
    </form>
  </div>

  <div class="description">
    <div>{{this.groupsService.groups.description}}</div>
    <button *ngIf="this.authService.currentUser.currentGroupRank === 1 &&
                   !this.editDescription"
            (click)="onUpdateDescriptionGroupForm(this.groupsService.groups.description)">
      Modifier le nom du groupe
    </button>

    <form *ngIf="this.editDescription" [formGroup]="updateDescriptionGroupForm" (ngSubmit)="onUpdateDescriptionGroup()">
      <textarea formControlName="description" cols="30" rows="10"></textarea>

      <button (click)="onUpdateDescriptionGroup()" [disabled]="updateDescriptionGroupForm.invalid">Modifier le nom du groupe</button>
    </form>
  </div>

  <div class="error" *ngIf="this.groupsService.error !== '' && this.groupsService.success === ''">
    {{this.groupsService.error}}
  </div>
  <div class="success" *ngIf="this.groupsService.success !== '' && this.groupsService.error === ''">
    {{this.groupsService.success}}
  </div>

  <app-new-article *ngIf="this.authService.currentUser.currentGroupRank > 0 || this.groupsService.groups.security === 'public'"></app-new-article>

  <app-articles *ngIf="this.authService.currentUser.currentGroupRank > 0 || this.groupsService.groups.security === 'public'"></app-articles>
</main>

<!--<div id="blocRight"></div>-->
