<div id="zoneGroup">

  <nav id="blocLeft">
    <ul *ngIf="this.authService.currentUser.currentGroupRank > 0">
      <li><a routerLink="">Inviter dans le groupe</a></li>
      <li><a routerLink="">Membres</a></li>
      <li><a routerLink="">Evènements</a></li>
      <li id="leave"><a (click)="onLeave()">Quitter le groupe</a></li>
    </ul>
    <ul *ngIf="this.authService.currentUser.currentGroupRank == 0">
      <li><a (click)="onJoin()">Rejoindre le groupe</a></li>
    </ul>
  </nav>

  <main id="blocCenter">
    <h2>{{this.groupsService.groups.name}}</h2>
    <div>{{this.groupsService.groups.description}}</div>

    <app-new-article *ngIf="this.authService.currentUser.currentGroupRank > 0"></app-new-article>


    <app-articles *ngIf="this.authService.currentUser.currentGroupRank > 0"></app-articles>


  </main>

  <div id="blocRight">
  </div>
</div>
