/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, serif;
  margin: 0;
  padding: 0;
}
app-header, app-footer {
  margin: 0;
  padding: 0;
}
app-fourohfour {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}
app-groups, app-apply, app-invite, app-members-list {
  display: flex;
  flex-direction: row;
  margin-top: -1.9%;
  width: 100%;
}
app-menu {
  width: 15%;
  background-color: #ccd6d5;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
label, input, button {
  margin-top: 5%;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
}
li {
  cursor: pointer;
}
button {
  cursor: pointer;
}
#succes, #error {
  font-size: 20px;
  font-weight: bold;
}
.groupList li {
  cursor: default;
}
.success, .succesAddArticle {
  color: green;
  font-size: 20px;
  animation-name: success;
  animation-duration: 2s;
}
.error, #errorRegister, #errorLog {
  color: red;
  font-size: 20px;
  animation-name: error;
  animation-duration: 2s;
}
@keyframes success {
  from {
    font-size: 1px;
  }
  to {
    font-size: 20px;
  }
}
@keyframes error {
  from {
    font-size: 1px;
  }
  to {
    font-size: 20px;
  }
}
@media (max-width: 961px) {
  app-groups, app-apply, app-invite, app-members-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  app-groups h2, app-apply h2, app-invite h2, app-members-list h2 {
    text-align: center;
  }
  app-menu {
    width: 100%;
  }
}
