<main>
    <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
        <label>Entrez votre nouveau mot de passe : (*)</label>
        <input type="password" formControlName="password">

        <label>Entrez de nouveau le mot de passe : (*)</label>
        <input type="password" formControlName="checkedPassword">

        <button type="submit" [disabled]="updatePasswordForm.invalid">Envoyer</button>
    </form>
    <div class="error" *ngIf="this.authService.error !== ''">{{this.authService.error}}</div>
</main>