<main>
  <h1>Connecte toi</h1>
  <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <label> Email (*) : </label>
    <input type="text" formControlName="email">

    <label> Mot de passe (*) : </label>
    <input type="password" formControlName="password">

    <button type="submit" [disabled]="signinForm.invalid">Connexion</button>
  </form>
  <a routerLink="/auth/email">Mot de passe oublié ?</a>
  <div id="errorLog" *ngIf="this.authService.error !== ''">{{this.authService.error}}</div>
</main>
