<li><a routerLink="">Groupes récents</a></li>
<li><a routerLink="groups">Tous les groupes</a></li>
<li><a routerLink="users/{{this.authService.currentUser.id}}/groups">Vos groupes</a></li>
<li><a routerLink="group/new-group">Créer un groupe</a></li>
<li><a routerLink="users/{{this.authService.currentUser.id}}/invitations">Invitations</a></li>
<li><a routerLink="users/{{this.authService.currentUser.id}}/notifications">Notifications</a></li>
<li>Bienvenue, {{this.authService.currentUser.username}} !</li>
<li><a (click)="authService.logout()">Logout</a></li>
